*{
	margin:0;
	padding: 0;
	font-family: verdana;

}

html{
	overflow-x: hidden;
}

#main{
	width: 100%;
	height: 100vh;
	background-image: url("../images/hero.jpeg");
	background-size: cover;
	
}

.button1{
	color: white;
	background-color:#03fca1;
	padding  :17px 120px;
	border-radius: 20px;
	position: absolute;
    left: 530px;
  	top:600px;
  	cursor: pointer;
  	align-content: center;
  	transition: 0.8s all;
}

.button1:hover{
	background-color: #f39d1a;
	transition: 0.8s all;
}

#heading1{
	font-size: 60px;
	color: white;
	text-align: right;
	padding-top: 200px;
	padding-right: 100px;

}
