*{
	margin:0;
	padding: 0;
	font-family: verdana;
}

#main{
	width: 100%;
	height: 100vh;
	background-image: url("2.jpeg");
	background-size: cover;
}

.button1{
	color: white;
	background-color:#03fca1;
	padding  :17px 120px;
	border-radius: 6px;
	position: absolute;
    left: 600px;
  	top:600px;
  	cursor: pointer;
}

.button1:hover{
	background-color: #f39d1a;
}

#heading1{
	font-size: 60px;
	color: white;
	text-align: center;
	padding-top: 219px;

}
