* {
  margin: 0;
  padding: 0;
  font-family: verdana;
}

#main {
  width: 100%;
  height: 100vh;
  background-image: url("2.jpeg");
  background-size: cover;
}

.button1Wrapper {
  margin: 3rem 0;
  text-align: center;
}

.button1 {
  color: white;
  background-color: rgb(19, 228, 151);
  padding: 1rem 5em;
  border-radius: 6px;
  cursor: pointer;
}

.button1:hover {
  background-color: rgb(17, 182, 122);
  color: white;
}

#heading1 {
  font-size: 60px;
  color: white;
  text-align: center;
  padding-top: 219px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(72, 74, 79);
  padding: 1rem 5rem;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 640px) {
  .button1 {
    font-size: 0.8rem;
    padding: 0.8rem 3em;
  }

  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 380px) {
  .button1 {
    font-size: 0.6rem;
  }
}
