 .table1  {

	 border: 0px solid black;
	 border-collapse: collapse;
	 height: 100%;
	 width:100%;
	 
	 background-color:  black;

}

.td1{

	text-align: center;
	color: white;
	height: 2em;
}

.td2{

	text-align: center;
	color: white;

}

.td3{

	text-align: center;
	color: white;
}

.td4{

	text-align: center;
	color: white;
	/*font-style: italic;*/ }

.td5{

	text-align: center;
	color: white;
}
 

/*.img1{

	height: 100%; 
	width: 100%;*/

#div1{

	
	 


}

