*{
	margin:0;
	padding: 0;
	font-family: verdana;
}

#navbar2{
	width: 100%;
	height: 80px;
	background-color: #0004;
	opacity: 1;
	line-height: 80px;
	
}

#navbar2 ul{
	float: right;
	margin-right: 30px;
}

#navbar2 ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.8s all;

}

#navbar2 ul li:hover{
	background-color: #f39d1a;
}

li{
	padding-top:  -11px;
}

#navbar2 ul li a{
	text-decoration: none;
	color: #fff;
	padding: 30px;
}

.img1{
	
	cursor: pointer;
	padding-left: 60px;

}

/*.button1{

	color: white;
	background-color: #03fca1;
	/*border-collapse: collapse;*/
	/*border-radius: 6px;
	padding  :16px 40px;

	 cursor: pointer;*/




